params {
    // Input files and paths
    project_folder           = ""
    outdir                   = "${params.project_folder}/"
    input                    = "${params.project_folder}/"

    // Reference files
    reference_gtf            = ""
    reference_fasta          = ""
    reference_fasta_fai      = ""
    reference_protein_fa     = ""
    reference_twobit         = ""

    contaminants_fasta       = "" // we have an example fasta in ./assets/

    // Index files that can be automatically be generated if empty
    bowtie2_index_path       = "" // Bowtie2 index path
    price_index_path         = "" // PRICE index path
    star_index_path          = "" // STAR index path
    package_install_loc      = "" // BSgenome path
    orfquant_annotation      = "" // .rannot file path required for ORFquant

    // Tools 
    container_folder         = ""
    
    // Amount of RiboTIE samples an ORF needs to occur in to not be filtered out
    ribotie_min_samples      = 2

    // RiboseQC filter mode
    readlength_choice_method = "max_coverage" // This is the default

    // Output options
    keep_bam                 = true // Keep contaminant BAMs for debugging or for restarting from later step

    // Pipeline start steps
    help                     = false
    validate_gtf_attributes  = false // Set to true if you want to do a basic attribute check on the first 10k rows

    // Quantify input samples on existing ORF list (disables ORF calling), requires setting existing_orf_table parameter
    run_quantify_existing    = false
    existing_orf_table       = "" // Set path to existing ORF table csv if run_quantify_existing set to TRUE

    // Pipeline sections to run
    run_qc                   = true
    run_orf_prediction       = true

    // Individual pipeline steps to run
    run_selection            = true
    run_alignment            = true
    run_riboseqc             = true
    run_orfquant             = true
    run_price                = true
    run_ribotie              = true
    run_psite                = true
    run_annotation           = true
    run_expression           = true
    run_multiqc              = true
}

// Add general singularity run options for HPC
// --nv is for nvidia support required for RiboTIE

singularity {
    runOptions = ' --nv -B "/hpc:/hpc" --env "LC_ALL=C.UTF-8"'
}

process {
    withLabel: 'Ribo_Seq_tools' {
        container = "${params.container_folder}/nf_ribo_pipeline_tools-1.0.0.sif"
    }
    withLabel: 'Ribo_Seq_R' {
        container = "${params.container_folder}/nf_ribo_seq_r-1.0.5.sif"
    }
    withLabel: 'Ribo_Seq_RiboTIE' {
        container = "${params.container_folder}/tristan_1.1.1.sif"
    }
}