params {
    // Input files and paths
    project_folder       = ""
    outdir               = "${params.project_folder}/"
    input                = "${params.project_folder}/"

    // Reference files
    reference_gtf        = ""
    reference_fasta      = ""
    reference_fasta_fai  = ""
    reference_protein_fa = ""
    reference_twobit     = ""

    contaminants_fasta   = "" // we have an example fasta in ./assets/
    package_install_loc  = ""
    orfquant_annotation  = ""

    // Index files that can be automatically be generated if empty
    bowtie2_index_path   = "" // Bowtie2 index path
    price_index_path     = ""   // PRICE index path
    star_index_path      = ""

    // Tools 
    container_folder     = ""
    gedi_exec_loc        = "" // Placeholder until gedi container works
    
    // Amount of RiboTIE samples an ORF needs to occur in to not be filtered out
    ribotie_min_samples  = 2

    // Output options
    keep_bam                = true // Keep contaminant BAMs for debugging or for restarting from later step

    // Pipeline start steps
    help                    = false
    validate_gtf_attributes = false

    // Pipeline sections to run
    run_qc                  = true
    run_orf_prediction      = true

    // Individual pipeline steps to run
    run_selection           = true
    run_alignment           = true
    run_riboseqc            = true
    run_orfquant            = true
    run_price               = true
    run_ribotie             = true
    run_psite               = true
    run_annotation          = true
    run_expression          = true
    run_multiqc             = true
}

// Add general singularity run options for HPC
// --nv is for nvidia support required for RiboTIE

singularity {
    runOptions = ' --nv -B "/hpc:/hpc" --env "LC_ALL=C.UTF-8"'
}

process {
    // Process-specific resource requirements
    withName: 'trimgalore' {
        container = "${params.container_folder}/trimgalore-0.6.6.sif"
    }
    withName: 'fastqc' {
        container = "${params.container_folder}/trimgalore-0.6.6.sif"
    }
    withLabel: 'bowtie2' {
        container = "${params.container_folder}/bowtie2-2.5.4.sif"
    }
    withLabel: 'alignment' {
        container = "${params.container_folder}/STAR-2.7.8a.sif"
    }
    withLabel: 'samtools' {
        container = "${params.container_folder}/samtools-1.12.sif"
    }
    withLabel: 'orfquant' {
        container = "${params.container_folder}/orfquant-4.1.2b.sif"
    }
    withLabel: 'Ribo_Seq_R_scripts' {
        container = "${params.container_folder}/nf_ribo_seq_r-1.0.3.sif"
    }
    withName: 'convert_to_bigwig' {
        container = "${params.container_folder}/bedgraphtobigwig_482.sif"
    }
    withLabel: 'intersect_psites' {
        container = "${params.container_folder}/bedtools-2.31.0.sif"
    }   
    withLabel: 'price' {
        module = 'java/1.8.0'
    }
    withLabel: 'multiqc' {
        container = "${params.container_folder}/multiqc-1.30.sif"
    }
    withLabel: 'ribotie' {
        container = "${params.container_folder}/tristan_1.0.0.sif"
    }
}