params {
    max_memory                 = '1000.GB'
    max_cpus                   = 30
    max_time                   = '250.h'
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

profiles {
    slurm {
        process {
            cpus   = { check_max( 1    * task.attempt, 'cpus' ) }
            memory = { check_max( 16.GB * task.attempt, 'memory' ) }
            time   = { check_max( 2.h  * task.attempt, 'time' ) }

            // memory errors which should be retried. otherwise error out
            errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
            maxRetries    = 4
            maxErrors     = '-1'

            // Process-specific resource requirements
            withName: 'trimgalore' {
                cpus = { check_max( 10  * task.attempt, 'cpus' ) }
                memory =  { check_max( 4.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'fastqc' {
                cpus = { check_max( 5   * task.attempt, 'cpus' ) }
                memory =  { check_max( 4.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'bowtie2_index' {
                cpus = { check_max( 10   * task.attempt, 'cpus' ) }
                memory =  { check_max( 32.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'bowtie2' {
                cpus = { check_max( 18   * task.attempt, 'cpus' ) }
                memory =  { check_max( 4.GB * task.attempt, 'memory' ) }
                time = { check_max( 12.h  * task.attempt, 'time' ) }
            }
            withName: 'contaminants_check' {
                cpus = { check_max( 2   * task.attempt, 'cpus' ) }
                memory =  { check_max( 2.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'sort_bedgraphs' {
                cpus = { check_max( 4   * task.attempt, 'cpus' ) }
                memory =  { check_max( 4.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'star_index' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 64.GB * task.attempt, 'memory' ) }
                time = { check_max( 6.h  * task.attempt, 'time' ) }
            }
            withLabel: 'alignment' {
                cpus = { check_max( 16   * task.attempt, 'cpus' ) }
                memory =  { check_max( 80.GB * task.attempt, 'memory' ) }
                time = { check_max( 24.h  * task.attempt, 'time' ) }
            }
            withName: 'samtools' {
                cpus = { check_max( 10   * task.attempt, 'cpus' ) }
                memory =  { check_max( 64.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'preseq' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 64.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'preseq_lc_extrap' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 64.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }            
            withName: 'riboseqc_index' {
                cpus = { check_max( 1  * task.attempt, 'cpus' ) }
                memory =  { check_max( 12.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }        
            withName: 'riboseqc' {
                cpus = { check_max( 5  * task.attempt, 'cpus' ) }
                memory =  { check_max( 24.GB * task.attempt, 'memory' ) }
                time = { check_max( 6.h  * task.attempt, 'time' ) }
            }
            withName: 'create_riboseqc_report' {
                cpus = { check_max( 4  * task.attempt, 'cpus' ) }
                memory =  { check_max( 96.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'prepare_orfquant' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 48.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'merge_price_bams' {
                cpus = { check_max( 10   * task.attempt, 'cpus' ) }
                memory =  { check_max( 100.GB * task.attempt, 'memory' ) }
                time = { check_max( 6.h  * task.attempt, 'time' ) }
            }
            withName: 'orfquant' {
                cpus = { check_max( 30   * task.attempt, 'cpus' ) }
                memory =  { check_max( 150.GB * task.attempt, 'memory' ) }
                time = { check_max( 120.h  * task.attempt, 'time' ) }
            }
            withName: 'price' {
                ext.java_opts = '-Xms50G -Xmx220G -XX:+UseG1GC -XX:+UseContainerSupport'             
                cpus = { check_max( 20   * task.attempt, 'cpus' ) }
                memory =  { check_max( 250.GB * task.attempt, 'memory' ) }
                time = { check_max( 48.h  * task.attempt, 'time' ) }
            }
            withName: 'price_index' {
                cpus = { check_max( 10   * task.attempt, 'cpus' ) }
                memory =  { check_max( 12.GB * task.attempt, 'memory' ) }
                time = { check_max( 6.h  * task.attempt, 'time' ) }
            }
            withName: 'get_orf_category' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 100.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'harmonise_orfs' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 24.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'orfcaller_psites' {
                cpus = { check_max( 4   * task.attempt, 'cpus' ) }
                memory =  { check_max( 24.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'reference_psites' {
                cpus = { check_max( 4   * task.attempt, 'cpus' ) }
                memory =  { check_max( 48.GB * task.attempt, 'memory' ) }
                time = { check_max( 4.h  * task.attempt, 'time' ) }
            }
            withName: 'sample_psites' {
                cpus = { check_max( 4   * task.attempt, 'cpus' ) }
                memory =  { check_max( 10.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'merge_orfcaller_psites' {
                cpus = { check_max( 4   * task.attempt, 'cpus' ) }
                memory =  { check_max( 150.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'ppm_matrix' {
                cpus = { check_max( 1   * task.attempt, 'cpus' ) }
                memory =  { check_max( 24.GB * task.attempt, 'memory' ) }
                time = { check_max( 2.h  * task.attempt, 'time' ) }
            }
            withName: 'parse_genomic_features' {
                cpus = { check_max( 10   * task.attempt, 'cpus' ) }
                memory =  { check_max( 30.GB * task.attempt, 'memory' ) }
                time = { check_max( 8.h  * task.attempt, 'time' ) }
            }
            withName: 'parse_samples' {
                cpus = { check_max( 8   * task.attempt, 'cpus' ) }
                memory =  { check_max( 8.GB * task.attempt, 'memory' ) }
                time =  { check_max((120.m + 10.m * Math.ceil(sample_bam.size() / 1024 ** 3)) * task.attempt, 'time' ) }
            }
            withName: 'ribotie_predict_samples' {
                queue = 'gpu'
                clusterOptions = { "--gpus-per-node=1" }
                cpus = { check_max( 15   * task.attempt, 'cpus' ) }
                memory =  { check_max( 150.GB * task.attempt, 'memory' ) }
                time = { check_max( 16.h  * task.attempt, 'time'    ) }
            }
        }
    }
}

// File publishing config
process {
    withName: 'trimgalore' {
        publishDir.enabled = false
    }
    withName: 'bowtie2_index' {
        publishDir.enabled = false
    }
    withName: 'bowtie2' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                pattern: "*_filtered.fastq.gz"
            ]
        ]
    }
    withName: 'contaminants_check' {
        publishDir.enabled = false
    }
    withName: 'fastqc' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                pattern: "*{_filtered_fastqc.html,_filtered_fastqc.zip}"
            ]
        ]
    }
    withName: 'star_index' {
        publishDir.enabled = false
    }
    withName: 'star_local' {
        publishDir = [
            [
                path: { "${params.outdir}/star" },
                mode: 'copy',
                pattern: "*{.out,.tab}"
            ]
        ]
    }
    withName: 'star_end_to_end' {
        publishDir = [
            [
                path: { "${params.outdir}/star" },
                mode: 'copy',
                pattern: "*{.out,.tab}"
            ]
        ]
    }
    withName: 'samtools' {
        publishDir = [
            [
                path: { "${params.outdir}/star" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'preseq' {
        publishDir = [
            [
                path: { "${params.outdir}/preseq" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'preseq_lc_extrap' {
        publishDir = [
            [
                path: { "${params.outdir}/preseq" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'riboseqc_index' {
        publishDir = [
            [
                path: { "${params.outdir}/riboseqc_index" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'riboseqc' {
        publishDir = [
            [
                path: { "${params.outdir}/riboseqc" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'sort_bedgraphs' {
        publishDir.enabled = false
    }
    withName: 'merge_bedgraphs' {
        publishDir.enabled = false
    }
    withName: 'convert_to_bigwig' {
        publishDir = [
            [
                path: { "${params.outdir}/igv_files/psite_tracks/minus" },
                mode: 'copy',
                pattern: "*P_sites_minus*.bw"
            ],
            [
                path: { "${params.outdir}/igv_files/psite_tracks/plus" },
                mode: 'copy',
                pattern: "*P_sites_plus*.bw"
            ],
            [
                path: { "${params.outdir}/igv_files/psite_tracks/uniq_minus" },
                mode: 'copy',
                pattern: "*P_sites_uniq_minus*.bw"
            ],
            [
                path: { "${params.outdir}/igv_files/psite_tracks/uniq_plus" },
                mode: 'copy',
                pattern: "*P_sites_uniq_plus*.bw"
            ]
        ]
    }
    withName: 'create_riboseqc_report' {
        publishDir = [
            [
                path: { "${params.outdir}/riboseqc" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'riboseqc_tables' {
        publishDir.enabled = false
    }
    withName: 'prepare_orfquant' {
        publishDir = [
            [
                path: { "${params.outdir}/orfquant" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'orfquant' {
        publishDir = [
            [
                path: { "${params.outdir}/orfquant" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'fix_orfquant' {
        publishDir = [
            [
                path: { "${params.outdir}/orfquant" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'price_index' {
        publishDir = [
            [
                path: { "${params.outdir}/price" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'merge_price_bams' {
        publishDir = [
            [
                path: { "${params.outdir}/price" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'price' {
        publishDir = [
            [
                path: { "${params.outdir}/price" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'price_to_gtf' {
        publishDir = [
            [
                path: { "${params.outdir}/price" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'create_template' {
        publishDir = [
            [
                path: { "${params.outdir}/ribotie" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'parse_genomic_features' {
        publishDir.enabled = false
    }

    withName: 'parse_samples' {
        publishDir.enabled = false
    }
    withName: 'convert_table_to_gtf' {
        publishDir = [
            [
                path: { "${params.outdir}/annotation" },
                mode: 'copy',
                pattern: "*{.csv,.gtf}"
            ]
        ]    
    }

    withName: 'ribotie_predict_samples' {
        publishDir = [
            [
                path: { "${params.outdir}/ribotie" },
                mode: 'copy',
                pattern: "*{.csv,.gtf}"
            ]
        ]
    }
    withName: 'merge_ribotie_output' {
        publishDir = [
            [
                path: { "${params.outdir}/ribotie" },
                mode: 'copy',
                pattern: "*.gtf"
            ]
        ]
    }
    withName: 'ribotie_add_stop' {
        publishDir = [
            [
                path: { "${params.outdir}/ribotie" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'sample_psites' {
        publishDir = [
            [
                path: { "${params.outdir}/bedfiles" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'reference_psites' {
        publishDir = [
            [
                path: { "${params.outdir}/annotation" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'orfcaller_psites' {
        publishDir = [
            [
                path: { "${params.outdir}/annotation" },
                mode: 'copy',
                pattern: "*.bed"
            ]
        ]
    }
    withName: 'merge_orfcaller_psites' {
        publishDir = [
            [
                path: { "${params.outdir}/annotation" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'get_orf_category' {
        publishDir = [
            [
                path: { "${params.outdir}/annotate_orfs" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'harmonise_orfs' {
        publishDir = [
            [
                path: { "${params.outdir}/harmonise_orfs" },
                mode: 'copy',
                pattern: "*{.csv,.txt,.gtf}"
            ],
            [
                path: { "${params.outdir}/final_orf_table" },
                mode: 'copy',
                pattern: "*{.fa.gz,.gtf}"
            ]            
        ]
    }
    withName: 'filter_removed_orf_ids' {
        publishDir = [
            [
                path: { "${params.outdir}/annotation" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'intersect_psites' {
        publishDir = [
            [
                path: { "${params.outdir}/bedfiles" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'ppm_matrix' {
        publishDir = [
            [
                path: { "${params.outdir}/orf_expression" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'expression_table' {
        publishDir = [
            [
                path: { "${params.outdir}/final_orf_table" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'multiqc_expression_plot' {
        publishDir.enabled = false
    }
    withName: 'MULTIQC' {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc" },
                mode: 'copy'
            ]
        ]
    }
}

